.App {
  /* text-align: center; */
}

.flex-row-two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid rgb(255, 10, 10); */
  height: 10vh;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 1px solid rgb(255, 10, 10); */
  position: relative;
}

button.pastel-green {
  background-color: rgb(149, 221, 149);
  border: none;
  padding: 2px 20px;
}

.points {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-right: 10px;
}

.top-row {
  display: flex;
  justify-content: space-between;
}

.description-section {
  display: flex;
  flex-direction: row-reverse;
}
